.header__logo {
<<<<<<< HEAD
  width: 176px;
  height: 52px;
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 142px;
    height: 42px;
=======
  max-width: 176px;
  max-height: 52px;
}

@media screen and (max-width: 568px) {
  .header__logo {
    max-width: 142px;
    min-height: 42px;
>>>>>>> 5bd6b12e894a183c5a03c42e937534ad7faedadf
  }
}