.lead__subtitle {
<<<<<<< HEAD
  margin: 0 16px 40px 16px;
  max-width: 640px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  color: #FFFFFF;
  text-align: center;
  align-self: center;
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 1.25;
=======
  max-width: 640px;
  margin: 32px auto 0;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

@media screen and (max-width: 568px) {
  .lead__subtitle {
    margin: 16px 0 0;
    font-size: 16px;
    line-height: 1.25;
    max-width: 288px;
>>>>>>> 5bd6b12e894a183c5a03c42e937534ad7faedadf
  }
}